/* Styling für AboutUs.js */
.about-us-pixels {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.pixel-alex-img {
    height: 100px;
}

.pixel-bella-img {
    height: 100px;
}

.pixel-evi-img {
    height: 100px;
}

.pixel-melli-img {
    height: 100px;
}

.pixel-michi-img {
    height: 100px;
}

.about-us-text {
    text-align: center;
    line-height: 25px;
}

.about-us-buttons {
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}