/* Styling für activeeChip.js */
.activee-tag {
  font-family: var(--text-typeface);
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  min-height: 18px;
  background: var(--light-mode-cs-dark);
  gap: 5px;
  padding: 3px 7px 3px 5px;
  border-radius: 50px;
}

/* Anderes Padding für Tags ohne Icon */
.activee-tag.without-icon {
  padding: 3px 7px;
}

.activee-tag.primary {
  background: var(--light-mode-cs-primary);
}

.activee-tag-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.activee-tag-text {
  color: var(--light-mode-typeface-inverted);
  font-size: 12px;
}
