/* Styling für den standardmäßigen Button der Seite */
.activee-button {
  -webkit-appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 8px;
  box-shadow: var(--light-mode-elevation-4);
  font-family: var(--button-typeface);
  color: var(--light-mode-typeface);
  font-size: var(--button-size);
  padding: 10px 15px;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-out;
  height: 42px;
}
.activee-button.gap {
  gap: 7px;
}
.activee-button-icon {
  width: 24px;
}

/* Styling für unterschiedliche Buttons */
.activee-button.primary {
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-cs-primary);
}
.activee-button.primary:active {
  background: var(--light-mode-cs-secondary);
}
.activee-button.secondary {
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-cs-secondary);
}
.activee-button.secondary:active {
  background: var(--light-mode-cs-unselected);
}
.activee-button.unselected {
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-cs-unselected);
}
.activee-button.unselected:active {
  background: var(--light-mode-cs-disabled);
}
.activee-button.blank {
  background: var(--light-mode-blank);
  box-shadow: none;
}
.activee-button.blank:active {
  background: var(--light-mode-blank-active);
}
.activee-button.warning {
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-warning);
}
.activee-button.warning:active {
  background: var(--light-mode-warning-active);
}
.activee-button.outline {
  background: var(--light-mode-background);
  border: 3px solid var(--light-mode-cs-primary);
  color: var(--light-mode-cs-primary);
}
.activee-button.outline:active {
  border: 3px solid var(--light-mode-cs-secondary);
  color: var(--light-mode-cs-secondary);
}
.activee-button:disabled {
  cursor: not-allowed;
  color: var(--light-mode-typeface-disabled);
  background: var(--light-mode-cs-disabled);
}
.activee-button:active:disabled {
  cursor: not-allowed;
  color: var(--light-mode-typeface-disabled);
  background: var(--light-mode-cs-disabled);
}
/* Spezifisch für RegisterBanner */
.activee-button.register {
  box-shadow: none;
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-cs-primary);
}
.activee-button.register:active {
  background: var(--light-mode-cs-secondary);
}
.activee-button.login {
  background: none;
  color: var(--light-mode-cs-primary);
  box-shadow: none;
  border: 3px solid var(--light-mode-cs-primary);
}
.activee-button.login:active {
  border: 3px solid var(--light-mode-cs-secondary);
}
