.activee-button {
  border: none;
  border-radius: 4px;
  box-shadow: var(--light-mode-elevation-4);
  font-family: var(--button-typeface);
  font-size: var(--button-size);
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.activee-button-icon {
  width: 24px;
}
.primary {
  color: var(--light-mode-background);
  background: #4a9d8c;
}
.primary:active {
  background: #6ac8b7;
}
