.create-sub-account-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
  z-index: 46;
  min-width: 290px;
  max-width: 420px;
  width: 100%;
}
.create-sub-account-container {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  gap: 25px;
  border-radius: 8px;
  background: var(--light-mode-background);
  box-shadow: var(--light-mode-elevation-4);
}
.create-sub-account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
}
.create-sub-account-exit {
  cursor: pointer;
}
.create-sub-account-names {
  font-family: Inter Bold, sans-serif;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  gap: 10px;
}
.create-sub-account-input {
  font-family: Inter Bold, sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
}
.create-sub-account-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}
