.date-picker {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.date-picker-item {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.date-picker-inputs {
  max-width: 300px;
  flex: 1;
}
.date-picker-times {
  width: 100%;
  min-width: 0;
  align-items: center;
  gap: 5px;
  display: flex;
}
.date-picker-time {
  min-width: 0 !important;
}
.date-picker-delete {
  flex: 0 0 54px;
}
