/* Styling der Warnmeldung für ungültige Nutzerangaben */
.warning-disclaimer-container {
  visibility: unset;
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0%);
  transition: 100ms ease-out;
  z-index: 41;
  min-width: 290px;
  width: 100%;
}
.warning-disclaimer-container.hidden {
  visibility: hidden;
  top: -65px;
}
.warning-disclaimer {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--light-mode-warning-active);
  transition: 200ms;
  visibility: visible;
}
.warning-disclaimer.closable {
  box-shadow: var(--light-mode-elevation-4);
  margin: 0 12px;
}
.warning-disclaimer.hidden {
  display: none;
}
.warning-icon {
  flex: 0 0 32px;
  width: 32px;
}
.warning-icon.pointer {
  cursor: pointer;
}
.warning-text {
  flex: 1;
  text-align: center;
  font-family: Inter SemiBold, sans-serif;
}

/* Styling für die Achtung-Meldung */
.caution-disclaimer {
  font-family: var(--annotation-typeface);
  font-size: var(--annotation-size);
  border: 2px solid var(--light-mode-caution);
  border-radius: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.caution-disclaimer img {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}
.caution-disclaimer span {
  flex: 1;
}
