/* Styling der Warnmeldung für ungültige Nutzerangaben */
.disclaimer-container {
  visibility: unset;
  transition: 200ms ease-out;
  width: 100%;
}
.disclaimer-container.closable {
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0%);
  z-index: 42;
}
.disclaimer-container.fixed {
  display: unset;
}
.disclaimer-container.fixed.hidden {
  display: none;
}
.disclaimer-container.hidden {
  visibility: hidden;
  top: -65px;
}
.disclaimer {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: 200ms ease-out;
}
.disclaimer.warning {
  background: var(--light-mode-warning-active);
}
.disclaimer.confirmed {
  background: var(--light-mode-cs-unselected);
}
.disclaimer.closable {
  box-shadow: var(--light-mode-elevation-4);
  margin: 0 12px;
}
.disclaimer.hidden {
  display: none;
}
.disclaimer-icon {
  flex: 0 0 32px;
  width: 32px;
}
.disclaimer-icon.pointer {
  cursor: pointer;
}
.disclaimer-text {
  flex: 1;
  text-align: center;
  font-family: Inter SemiBold, sans-serif;
}

/* Styling für die Achtung-Meldung */
.caution-disclaimer {
  font-family: var(--annotation-typeface);
  font-size: var(--annotation-size);
  border: 2px solid var(--light-mode-caution);
  border-radius: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.caution-disclaimer img {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}
.caution-disclaimer span {
  flex: 1;
}
