/* Styling für Footer und beinhaltete Elemente */
#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-section {
  flex: 1;
  width: 100%;
  padding: 20px 0;
}
