/* Styling für Header und beinhaltete Elemente */
/* Header bleibt aufgrund von 'position: sticky' und 'top: 0' immer am oberen Bildschirmrand */
.header {
  width: 100%;
  box-sizing: border-box;
  z-index: 40;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  background: var(--light-mode-background-translucent);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Versteckt Header außerhalb des Viewports */
.header.hide {
  top: -70px;
}

/* Header Elemente */
#activee-logo {
  display: block;
  width: 40px;
  height: 40px;
}

#header-options {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;
}

#language-icon {
  border-radius: 50%;
}

.header-icon {
  height: 32px;
  width: 32px;
  display: block;
}

.header-button {
  cursor: pointer;
}

/* Styling des activee Brandings auf der Landing Page */
.activee-ci {
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  transition: 300ms ease-out;
}

.activee-ci.hide {
  opacity: 0;
}

.activee-name {
  font-family: var(--logo-typeface);
  font-size: 32px;
}

/* Styling für das Popup Menü und die beinhalteten Buttons */
#options-popup-button {
  overflow: hidden;
  border-radius: 20px;
}

.options-popup {
  position: absolute;
  top: 60px;
  right: 12px;
  background: var(--light-mode-background);
  box-shadow: var(--light-mode-elevation-4);
  padding: 14px 19px;
  border-radius: 8px;
  transition: 200ms ease-out;
  z-index: 50 !important;
}

.popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 45;
}

.popup-backdrop.darken {
  background: var(--light-mode-backdrop-translucent-dark);
}

.options-selection {
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0;
  gap: 19px;
}

.options-icon {
  width: 24px;
}

.options-divider {
  margin: 8px 0;
}
