.horizontal-button {
  flex: 1;
  display: inline-flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  background: #4a9d8c;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
}
.horizontal-button.unchecked {
  background: #c6dcd7;
}
.horizontal-button-icon {
  width: 24px;
}
.horizontal-delete-icon {
  width: 24px;
  cursor: pointer;
}
.horizontal-button-title {
  color: var(--light-mode-background);
  font-family: var(--button-typeface);
}
.horizontal-button-edit-mode {
  flex: 1;
  display: inline-flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  background: #4a9d8c;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
}
.horizontal-button-data {
  flex: 1;
  display: inline-flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
