/* Deklarierung aller css-Variablen, welche von activee verwendet werden */
:root {
  --light-mode-typeface: #2d2d2d;
  --light-mode-typeface-inverted: #fffcf9;
  --light-mode-background: #fffcf9;
  --light-mode-background-translucent: rgba(255, 252, 249, 0.7);
  --light-mode-primary-1: #4a9d8c;
  --light-mode-primary-2: #65b9a8ff;
  --light-mode-primary-disabled: #c6dcd7;
  --light-mode-warning: #e1786c;
  --light-mode-warning-active: #f38c80;
  --light-mode-disabled: #c6dcd7;
  --light-mode-disabled-typeface: #838383;
  --light-mode-elevation-1: 2px 3px 15px -8px rgba(0, 0, 0, 0.06);
  --light-mode-elevation-2: 1px 2px 9px -5px rgba(0, 0, 0, 0.09);
  --light-mode-elevation-3: 1px 2px 9px -5px rgba(0, 0, 0, 0.24);
  --light-mode-elevation-4: 1px 2px 9px -5px rgba(0, 0, 0, 0.37);
  --blur-effect: blur(12px);
  --h1-typeface: Inter Bold, sans-serif;
  --h1-size: 32px;
  --h1-subtitle-typeface: Inter SemiBold Italic, sans-serif;
  --h1-subtitle-size: 20px;
  --h2-typeface: Inter Bold, sans-serif;
  --h2-size: 24px;
  --h3-typeface: Inter Bold, sans-serif;
  --h3-size: 20px;
  --h4-typeface: Inter Bold, sans-serif;
  --h4-size: 16px;
  --text-typeface: Inter Medium, sans-serif;
  --text-size: 16px;
  --button-typeface: Inter Bold, sans-serif;
  --button-size: 16px;
  --logo-typeface: Fredoka One Regular, sans-serif;
}
/* Deklarierung aller notwendigen typefaces */
@font-face {
  font-family: "Inter Thin";
  src: url(../fonts/Inter-Thin.ttf);
}

@font-face {
  font-family: "Inter ExtraLight";
  src: url(../fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: "Inter Light";
  src: url(../fonts/Inter-Light.ttf);
}
@font-face {
  font-family: "Inter Light Italic";
  src: url(../fonts/Inter-LightItalic.otf);
}

@font-face {
  font-family: "Inter Regular";
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Medium";
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter SemiBold";
  src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter SemiBold Italic";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Inter Black";
  src: url(../fonts/Inter-Black.ttf);
}
@font-face {
  font-family: "Fredoka One Regular";
  src: url(../fonts/FredokaOne-Regular.ttf);
}

/* Festlegung des body-Stylings. 'min-width' verhindert das weitere Schrumpfen unter 320px Seitenbreite. */
body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: var(--text-typeface);
  font-size: var(--text-size);
  color: var(--light-mode-typeface);
  background: var(--light-mode-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styling overrides für HTML Komponenten */
h1 {
  font-family: var(--h1-typeface);
  font-size: var(--h1-size);
}

.h1-subtitle {
  margin: -15px 0 15px;
  font-family: var(--h1-subtitle-typeface);
  font-size: var(--h1-subtitle-size);
}

h2 {
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
}

h3 {
  font-family: var(--h3-typeface);
  font-size: var(--h3-size);
}

h4 {
  font-family: var(--h4-typeface);
  font-size: var(--h4-size);
}

button {
  font-family: var(--button-typeface);
  font-size: var(--button-size);
}
b {
  font-family: var(--button-typeface);
}

a {
  text-decoration: none;
  color: var(--light-mode-typeface);
}
input {
  display: inline-block;
  font-family: var(--text-typeface);
  font-size: var(--text-size);
  border: none;
  padding: 3px 6px;
  border-bottom: 3px solid var(--light-mode-typeface);
  border-radius: 4px;
  transition: 200ms ease-out;
}
input:focus {
  outline: none;
  border-bottom: 3px solid var(--light-mode-primary-1);
  box-shadow: var(--light-mode-elevation-4);
}
input:disabled {
  border-bottom: none;
  background: var(--light-mode-disabled-typeface);
}
input.warning {
  border-bottom: 6px solid var(--light-mode-warning-active);
}

/* Grundlagen für Seitenstruktur */
/* #root wird in eine flex-box mit Mindesthöhe 100vh gesetzt, damit der Footer immer ganz unten am Bildschirmrand bleibt */
#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

/* Aufgrund von flex: 1 nimmt der Seiteninhalt im content-body immer sämtlichen freien Platz im Viewport ein */
#content-body {
  flex: 1;
  margin: 0 12px 15px 12px;
}

/* Temporäre Klassen für Entwicklung */
.filler-div {
  height: 300vh;
  background: #c7a4a4;
}
.under-construction {
  font-family: Inter SemiBold Italic, sans-serif;
  font-size: 20px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe5a0;
  border-radius: 8px;
  gap: 8px;
}
.under-construction-icon {
  width: 32px;
}
