.participants-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.participants-title span {
    margin: 0 10px;
    font-size: 20px;
}
.participant-list {
    display: flex;
    flex-flow: column;
}

.participants-data {
    flex: 1;
    min-width: 0;
}
.participants-name {
    font-family: var(--h3-typeface);
    font-size: var(--h3-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.participants-image {
    flex: 0 0 52px;
    height: 52px;
    border-radius: 50%;
    background: var(--light-mode-cs-disabled);
}
.participants-content {
    display: flex;
    flex-flow: column;
    margin: 12px 5px;
    gap: 10px;
}
.participants-content-data {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.participants-content-data-name {
    font-family: Inter Bold, sans-serif;
}

.participants-content-data-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.participants-empty-disclaimer {
    margin: 0 20px;
    text-align: center;

}