/* Styling für ProfileSelection.js */
.profile-selection {
  position: fixed;
  left: 50%;
  top: 120px;
  transform: translate(-50%, 0%);
  transition: 200ms ease-out;
  z-index: 46;
  min-width: 290px;
  max-width: 420px;
  width: 100%;
}

.profile-selection-container {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  gap: 25px;
  border-radius: 8px;
  background: var(--light-mode-background);
  box-shadow: var(--light-mode-elevation-4);
}

.profile-selection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--h2-weight);
  font-size: var(--h2-size);
}

.profile-selection-exit {
  cursor: pointer;
}

.profile-selection-list {
  display: flex;
  flex-flow: column;
}

.profile-selection-item {
  -webkit-appearance: none;
  display: flex;
  flex-flow: row;
  padding: 0;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 17px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-selection-item-image {
  flex: 0 0 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--light-mode-cs-disabled);
}

.profile-selection-item-container {
  color: var(--light-mode-typeface);
  flex: 1;
  text-align: left;
  display: flex;
  flex-flow: column;
  gap: 3px;
  min-width: 0;
}

.profile-selection-item-name {
  font-family: var(--text-typeface);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-selection-item-type {
  font-family: var(--text-typeface);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-selection-item-icon {
  flex: 0 0 32px;
  height: 32px;
}

.profile-selection-item-icon.hidden {
  flex: 0 0 32px;
  height: 32px;
  display: none;
}

.profile-selection-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}
