.profile-user-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  background: var(--light-mode-primary-1);
  color: var(--light-mode-typeface-inverted);
  padding: 16px;
  border-radius: 12px;
  gap: 15px;
  box-sizing: content-box;
}
.profile-user-picture {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--light-mode-background);
}
.profile-user-credentials {
  display: flex;
  flex-flow: column;
  align-content: space-between;
}
.profile-user-name {
  font-family: Inter Bold, sans-serif;
  font-size: 24px;
  display: flex;
  gap: 10px;
}
.profile-user-edit-icon {
  width: 32px;
}
.profile-club-name {
  font-family: var(--h1-subtitle-typeface);
  font-size: var(--h1-subtitle-size);
  margin: 20px 0;
}
.profile-general-info {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.profile-general-info-container {
  display: flex;
  flex-flow: row;
}
.profile-general-info-name {
  font-family: Inter Bold, sans-serif;
}
.profile-general-info-data {
  flex: 1 1;
  text-align: right;
}
.profile-general-info-language-icon {
  width: 24px;
  height: auto;
  border: 3px solid var(--light-mode-primary-1);
  border-radius: 50%;
  margin-left: 6px;
}
/*Edit page*/
.profile-edit-options {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -0%);
  background: var(--light-mode-primary-1);
  display: inline-flex;
  flex-flow: row;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}
.profile-edit-icon {
  width: 32px;
}
.profile-edit-link {
  cursor: pointer;
}
.profile-edit-divider {
  background: var(--light-mode-typeface-inverted);
  width: 2px;
  height: 32px;
}
.profile-gender-selection,
.profile-transport-selection {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
}
.profile-transport-selection {
  margin-bottom: 15px;
}
.profile-sports-selection {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.profile-input-name {
  font-family: Inter Bold, sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: 140px;
}
.profile-input-street {
  max-width: 190px;
  width: 100%;
  margin-right: 8px;
  margin-bottom: 8px;
}
.profile-input-house-number {
  width: 40px;
  text-align: center;
}
.profile-input-zip-code {
  width: 60px;
  text-align: center;
  margin-right: 8px;
}
.profile-input-city {
  max-width: 170px;
  width: 100%;
}
@media only screen and (max-width: 375px) {
  .profile-sports-selection {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
