.profile-user-info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: var(--light-mode-primary-1);
  color: var(--light-mode-typeface-inverted);
  padding: 16px;
  border-radius: 12px;
  box-sizing: content-box;
  gap: 15px;
}
.profile-user-picture {
  flex: 0 0 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--light-mode-background);
}
.profile-user-credentials {
  min-width: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1;
}
.profile-user-name {
  font-family: Inter Bold, sans-serif;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-user-name.flex {
  display: flex;
  gap: 10px;
}
.profile-user-email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-user-edit-link {
  flex: 0 0 32px;
}
.profile-user-edit-icon {
  width: 32px;
}
.profile-club-name {
  font-family: var(--h1-subtitle-typeface);
  font-size: var(--h1-subtitle-size);
  margin: 20px 0;
}
.profile-general-info {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.profile-general-info-container {
  display: flex;
  flex-flow: row;
  gap: 30px;
  justify-content: space-between;
}
.profile-general-info-name {
  font-family: Inter Bold, sans-serif;
}
.profile-general-info-data {
  flex: 1 1;
  text-align: right;
}
.profile-general-info-language-icon {
  width: 24px;
  height: auto;
  border: 3px solid var(--light-mode-primary-1);
  border-radius: 50%;
  margin-left: 6px;
}
.profile-no-info-disclaimer {
  font-family: Inter Light Italic, sans-serif;
  color: var(--light-mode-disabled-typeface);
}
/*Edit page*/
.profile-edit-options {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -0%);
  background: var(--light-mode-primary-1);
  display: inline-flex;
  flex-flow: row;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}
.profile-edit-icon {
  width: 32px;
}
.profile-edit-link {
  cursor: pointer;
}
.profile-edit-divider {
  background: var(--light-mode-typeface-inverted);
  width: 2px;
  height: 32px;
}
.profile-gender-selection,
.profile-transport-selection {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
}
.profile-transport-selection {
  margin-bottom: 15px;
}
.profile-sports-selection {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.profile-input-name {
  font-family: Inter Bold, sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
}
.profile-input.phone-input {
  min-width: 0;
  max-width: 130px;
  width: 100%;
}
.profile-address-picker {
  display: flex;
  flex-flow: column;
  max-width: 270px;
  min-width: 0;
  width: 100%;
  gap: 8px;
  margin: 0;
}
.profile-address-picker > div {
  display: flex;
  flex-flow: row;
  gap: 8px;
}
.profile-input-street {
  flex: 1;
  width: 100%;
  min-width: 0;
}
.profile-input-house-number {
  flex: 0 0 40px;
  min-width: 0;
  text-align: center;
}
.profile-input-zip-code {
  flex: 0 0 60px;
  min-width: 0;
  text-align: center;
}
.profile-input-city {
  flex: 1;
  width: 100%;
  min-width: 0;
}
.profile-input-distance {
  width: 40px;
  text-align: center;
}
@media only screen and (max-width: 430px) {
  .profile-sports-selection {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
