/* Styling für Register.js */
.register-type {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.register-inputs {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin: 10px;
}

.register-names {
  display: flex;
  gap: 10px;
}

.register-mandatory-disclaimer {
  font-weight: var(--h4-weight);
}

.register-button {
  display: flex;
  justify-content: center;
}
