.search-item {
  color: var(--light-mode-typeface-inverted);
  background: var(--light-mode-primary-1);
  padding: 12px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.search-item-primary {
  display: flex;
  gap: 10px;
}
.search-item-primary-info {
  flex: 0 0 60%;
  min-width: 160px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.search-item-title {
  min-width: 0;
  display: flex;
  gap: 5px;
}
.search-item-image {
  min-width: 0;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  height: 120px;
  object-fit: cover;
}
.search-item-name {
  min-width: 0;
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-item-sport-icon {
  width: 24px;
}
.search-item-details {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
