/* Styling für Search.js */
.search-no-results {
  display: flex;
  flex-flow: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.search-no-results-image{
  width: 120px;
}

.search-results {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}

/* Andere Anordnung der Ergebnisse ab 700px Breite */
@media only screen and (min-width: 700px) {
  .search-results {
    grid-template-columns: 1fr 1fr;
  }
}
