.search-no-results {
  display: flex;
  flex-flow: column;
  gap: 15px;
  font-family: var(--h3-typeface);
  font-size: var(--h3-size);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.search-no-results-image{
  width: 120px;
}
.search-results {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 700px) {
  .search-results {
    grid-template-columns: 1fr 1fr;
  }
}
