/* Styling von Sport.js */
.sport-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sport-header-icon {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
}

.activity-list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.sport-instruction,
.sport-history{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sport-description-image {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
}

.sport-description-expand {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sport-description-expand-icon {
    display: block;
    width: 32px;
    height: 32px;
    transition: 200ms ease-out;
    z-index: -1;
}

.sport-description-expand-icon.expanded {
    transform: rotate(180deg);
    z-index: -1;
}