/* Styling für vertikale tap Buttons */
.vertical-button {
  flex: 1;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--light-mode-cs-primary);
  gap: 8px;
  padding: 10px 0;
  border-radius: 8px;
}

.vertical-button.unchecked {
  background: var(--light-mode-cs-unselected);
}

.vertical-button-icon {
  width: 32px;
  height: 32px;
}

.vertical-button-title {
  color: var(--light-mode-background);
  font-weight: var(--button-weight);
}

/* Verkleinerung der Schriftgröße unter 375px um ungewolltes Clipping zu verhindern */
@media only screen and (max-width: 375px) {
  .vertical-button {
    font-size: 14px;
  }
}
