/* Styling der Warnung für ungültige Nutzerangaben */
.warning-disclaimer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--light-mode-warning-active);
  transition: 200ms;
  visibility: visible;
}
.warning-disclaimer.hidden {
  display: none;
}
.warning-icon {
  width: 32px;
}
.warning-text {
  font-family: Inter SemiBold, sans-serif;
}
