/* Styling für WarningModal.js */
.warning-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
  z-index: 46;
  min-width: 290px;
  max-width: 420px;
  width: 100%;
}

.warning-modal-container {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  gap: 25px;
  border-radius: 8px;
  background: var(--light-mode-background);
  box-shadow: var(--light-mode-elevation-4);
}

.warning-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
}

.warning-modal-exit {
  cursor: pointer;
}

.warning-modal-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}
